<div class="container">
    <h1>Hello Darkness my old friend</h1>
    <p>I come to talk with you again</p>
    <p>Please join to our little secret club, no one willl hurt you</p>
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
</div>